.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.363);
}

.modal {
    padding: 30px;
    display: flex;

    position: relative;

    background-color: #fff;
}

.closeBtn {
    position: absolute;

    top: 5px;
    right: 5px;
}

.comments {
    width: 15vw;
    margin-left: 15px;
}